In [1]:
# Assignemnt 2

# EXERCISE 1   Create a list of 5 random numbers and print the list.

In [3]:
import random

# Creating a list of 5 random numbers
random_list = [random.randint(1, 100) for _ in range(5)]
print("Original List:", random_list)

Original List: [92, 15, 41, 33, 2]

In [7]:
# Exercise 2   Insert 3 new values to the list and print the updated list.

In [9]:
# Adding 3 new values to the list
random_list.extend([200, 300, 400])
print("Updated List:", random_list)

Updated List: [92, 15, 41, 33, 2, 200, 300, 400]

In [11]:
# Exercise 3  Use a for loop to print each element in the list.

In [15]:
print("List Elements:")
for num in random_list:
    print(num)

List Elements:
92
15
41
33
2
200
300
400

In [31]:
#Topic: Dictionary
#Exercise 1: Create a dictionary with keys 'name', 'age', and 'address'.

In [27]:
# Creating a dictionary
person = {"name": "John",
    "age": 25,
    "address": "New York"}
print("Original Dictionary:", person)

Original Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [29]:
# Exercise 2  Exercise Q2: Add a new key-value pair to the dictionary.

In [33]:
# Adding a new key-value pair
person["phone"] = "1234567890"
print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

In [35]:
# Topic: Set
# Exercise Q1: Create a set with values 1, 2, 3, 4, and 5.

In [38]:
number_set = {1, 2, 3, 4, 5}
print("Original Set:", number_set)

Original Set: {1, 2, 3, 4, 5}

In [40]:
# Exercise Q2: Add the value 6 to the set.

In [42]:
number_set.add(6)
print("Updated Set:", number_set)

Updated Set: {1, 2, 3, 4, 5, 6}

In [44]:
# Exercise Q3: Remove the value 3 from the set.

In [46]:
# Removing an element from the set
number_set.discard(3)
print("Set After Removing 3:", number_set)

Set After Removing 3: {1, 2, 4, 5, 6}

In [48]:
# Topic: Tuple
# Exercise Q1: Create a tuple with values 1, 2, 3, and 4

In [51]:
# Creating a tuple
number_tuple = (1, 2, 3, 4)
print("Tuple:", number_tuple)

Tuple: (1, 2, 3, 4)

In [53]:
#Exercise Q2: Print the length of the tuple.

In [55]:
# Printing the length of the tuple
print("Length of Tuple:", len(number_tuple))

Length of Tuple: 4