Exercise 1

In [6]:
print("Bob")
print("ST1001")
print("bob@gmail.com")

Bob
ST1001
bob@gmail.com

Exercise 2

In [12]:
print("Bob\nST1001\nbob@gmail.com")

Bob
ST1001
bob@gmail.com

#Exercise 3

In [1]:
num1 = 14
num2 = 7

print(num1, "+", num2, "=", num1 + num2)
print(num1, "*", num2, "=", num1 * num2)
print(num1, "-", num2, "=", num1 - num2)
print(num1, "/", num2, "=", num1 / num2)

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

Exercise 4

In [13]:
for a in range(1, 6):
    print(a)

1
2
3
4
5

Exercise 5

In [16]:
print("\"SDK\" stands for \"Software Development Kit\", whereas \"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

Exercise 6

In [19]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

Exercise 7

In [26]:
num = 23
textnum = "57"
decimal = 98.3

print(type(num))      # Integer
print(type(textnum))  # String
print(type(decimal))  # Float

# Convert textnum to integer and calculate sum
total_sum = num + int(textnum) + decimal
print("Sum:", total_sum)
print("Type of sum:", type(total_sum))

<class 'int'>
<class 'str'>
<class 'float'>
Sum: 178.3
Type of sum: <class 'float'>

Exercise 8

In [29]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

total_minutes = days_in_year * hours_in_day * minutes_in_hour
print("Total number of minutes in a year:", total_minutes)

Total number of minutes in a year: 525600

Exercise 9

In [40]:
name = input("Name: ")
print("Hi", name + ", welcome to Python programming :)")

Name:  Hari

Hi Hari, welcome to Python programming :)

Exercise 10

In [42]:
pounds = float(input("Please enter amount in pounds: "))
exchange_rate = 1.27  # Example conversion rate (can change based on market rates)
dollars = pounds * exchange_rate

print("£", pounds, "are $", round(dollars, 2))

Please enter amount in pounds:  500

£ 500.0 are $ 635.0